# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "github.com/hashicorp/packer-plugin-sdk"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
